{{define "home"}}
{{template "header" .}}


<div class="row " >
  {{range .Items}}
  <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2  p-2 border-0">
    <a href="/product?id={{.Id}}" class="text-reset text-decoration-none">
    <img src={{.Picture}} class="card-img-top" alt="...">
    <div class="card-body text-center">
      <p class="card-text">{{.Name}}</p>
      <h5 class="card-title">${{.Price}}</h5>
    </div>
    </a>
  </div>
    {{end}}
</div>

{{template "footer" .}}
{{end}}